minimum_pre_commit_version: 2.9.2
default_stages: [commit]
fail_fast: true
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.14.2'
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: debug-statements
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: sh -c 'uv run mypy .'
        pass_filenames: false
        language: system
